# put this file in this location /home/citylights/.config/autostart/code.desktop
[Desktop Entry]
Type=Application
Name=code.desktop
Exec=xterm -fa 'Monospace' -fs 12 -iconic -hold -e '/usr/bin/python3 $HOME/code/code.py'