# put this file in this location /home/drivein/.config/autostart/midori.desktop
[Desktop Entry]
Type=Application
Name=midori.desktop
Exec=sh -c 'while ! ping -c 1 8.8.8.8; do sleep 5; done; midori -e Fullscreen http://animator-drive-in.local:8083/'